.productMain{
    background: lightgray;
    height: auto;
    padding-bottom: 5rem;
    width: 100%;
}

.productInner{
    background: white;
    position: relative;
    top: 4rem;
    border-radius: 15px;
    width: 95%;
}

.productInner .row{
    margin-top: 3rem;
}

.row input{
    width: 80%;
    border: 1px solid black;
}

.row button{
    background: lightslategrey;
    color: white;
    border: 1px solid black;
    width: 50%;
    margin-left: 16rem;
}

.table{
    margin-top: 2rem;
}

@media (max-width:468px){
    *{
        margin: 0;
        padding: 0;
    }

    .productInner input{
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    .productInner button{
        margin-left: 5.5rem;
    }
}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }

    .productInner input{
        margin-left: 4rem;
        margin-bottom: 1rem;
    }

    .productInner button{
        margin-left: 10rem;
    }
}