*{
    margin: 0;
    padding: 0;
}

.header{
    width: 98%;
    height: 5rem;
}

.headerIcons{
    margin-top: 1.1rem;
    padding-left: 2rem;
}

.IconImg{
    margin-left: 4rem;
    width: 2rem;
}

.headerInput{
    display: flex;
}

.headerInput input{
    width: 80%;
    margin-top: 1.2rem;
    border-radius: 8px;
    border: 1px solid grey;
}

.headerInput img{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1.6rem;
    margin-left: 2rem;
}

.headerDetails{
    display: flex;
    margin-top: 1rem;
}

.headerDetails img{
    width: 3.3rem;
    margin-left: 2rem;
}

.headerDetails b{
    margin-top: 0.5rem;
    margin-left: 2.5rem;
}

.headerDetails h6{
    margin-top: 5px;
    margin-left: 2px;
}

.profile{
    font-size: 14px;
}

@media (max-width:468px){
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        width: 100%;
        margin-bottom: 9rem;
    }

    .headerIcons .IconImg{
        margin-left: 13rem;
    }

    .headerDetails{
        margin-top: 1rem;
    }

    .headerDetails span{
        margin-left: -1rem;
    }

    
    .headerDetails b{
        margin-left: 8rem;
    }
    
    .headerDetails h6{
        margin-left: 1rem;
    }
}


@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }

    .header{
        width: 100%;
        margin-bottom: 9rem;
    }

    .headerIcons .IconImg{
        margin-left: 37rem;
    }

    .headerDetails{
        margin-top: 1rem;
    }

    .headerDetails span{
        margin-left: -1rem;
    }

    
    .headerDetails b{
        margin-left: 32rem;
    }
    
    .headerDetails h6{
        margin-left: 1rem;
    }
}   