*{
    margin: 0;
    padding: 0;
}

.signUp{
    width: 100vw;
    height: 100vh;
}

.img{
    width: 100%;
    height: 100%;
    }

.innerBox{
    background: white;
    z-index: 1;
    width: 20rem;
    height: auto;
    border: 1px solid black;
    position: relative;
    top: -48rem;
    left: 40%;
    border-radius: 10px;
    padding-bottom: 1rem;
}    

form{
    padding-left: 1rem;
}

.logo{
    margin-top: 3rem;
    margin-left: 6rem;
}

.innerBox h6{
    font-weight: 200;
}

form label{
    font-size: 14px;
}

form input{
    height: 1.8rem;
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 15px;
}

.button button{
    position: relative;
    left: -13rem;
    background: rgba(8, 8, 241, 0.747);
    color: white;
}

.button b{
    font-size: 12px;
    color: rgb(104, 104, 247);
    margin-right: 4rem;
}

@media (max-width:468px){
    *{
        margin: 0;
        padding: 0;
    }

    .img img{
        margin: 0;
        width: 30rem;
        height: 50rem;
    }
    .innerBox{
        height: 30rem;
        margin-left: -7.5rem;
        margin-top: 2rem;
    }
}


@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }

    .innerBox{
        margin-left: -3.5rem;
    }
}   