.addProduct{
    background: lightgray;
    height: auto;
    padding-bottom: 5rem;
    width: 100%;
}

.addProductInner{
    background: white;
    position: relative;
    top: 3rem;
    border-radius: 15px;
    height: 35rem;
    width: 95%;
}

.addProductInner .row{
    margin-top: 1rem;
    margin-right: 1rem;
}

.input input{
    width: 100%;
    border: 1px solid grey;
}

.textarea textarea{
    border: 1px solid grey;
}

.select select{
    border: 1px solid grey;
    margin-bottom: 2rem;
}

@media (max-width:468px){
    *{
        margin: 0;
        padding: 0;
    }

    .addProductInner{
        height: auto;
        padding-bottom: 1rem;
    }

}

@media (min-width:469px) and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }

    .addProductInner{
        height: auto;
        padding-bottom: 1rem;
    }
}